<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>

<body>
    <h1>Hello World!</h1>
    <a href="/"><button>홈으로</button></a>

    {% if login_session %}
    <a href="{% url 'logout' %} "><button>로그아웃</button></a>
    {% else %}
    <a href="{% url 'login' %} "><button>로그인</button></a>
    <a href="{% url 'register' %} "><button>회원가입</button></a>
    <div style="border: 1px black solid; margin: 20px 0px"></div>
    <!-- 밑은 템플릿 언어 -->
    {% block content %}
    {% endblock %}
</body>

</html>